<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>StephensNaturalFoods</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
     <!-- Start Main Top -->
     <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="custom-select-box">
							
						</select>
                    </div>
                    <div class="our-link">
                        <ul>
                            <li><a href="#"><i class="fa fa-user s_color"></i> My Account</a></li>
                            <li><a href="https://goo.gl/maps/aghYfAPTHq1v1tpb8"><i class="fas fa-location-arrow"></i> Our location</a></li>
                            <li><a href="tel:+254723350021"><i class="fas fa-headset"></i> Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="login-box">
						<select id="basic" class="selectpicker show-tick form-control" data-placeholder="Sign In">
							<option>Register Here</option>
							<option>Sign In</option>
						</select>
					</div>
                    <div class="text-slid-box">
                        <div id="offer-box" class="carouselTicker">
                            <ul class="offer-box">
                                <li>
                                    <i class="fab fa-opencart"></i> ADVERTISE HERE
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                    <a class="navbar-brand" href="index.html"><img src="images/LOGO.jpg" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->

               <!-- Collect the nav links, forms, and other content for toggling -->
               <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="about.html">About Us</a></li>
                    <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">SHOP</a>
                        <ul class="dropdown-menu">
                            <li><a href="cart.html">Cart</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                            <li><a href="my-account.html">My Account</a></li>
                            <li><a href="wishlist.html">Wishlist</a></li>
                        </ul>
                    </li>
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">CATEGORIES</a>
                            <ul class="dropdown-menu">
                                <li><a href="seedlings.html">Seedlings</a></li>
                                <li><a href="indigenous-seeds.html">Indigenous Seeds</a></li>
                                <li><a href="books.html">Books</a></li>
                                <li><a href="other-products.html">Other Products</a></li>
                            </ul>
                        </li>
                     <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Outgrowers</a>
                        <ul class="dropdown-menu">
                            <li><a href="outgrowers.html">Outgrowers</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="client's-projects.html">Client's Projects</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Articles</a>
                        <ul class="dropdown-menu">
                            <li><a href="natural-treatment.html">Natural Treatment</a></li>
                            <li><a href="edible-weeds.html">Edible Weeds</a></li>
                            <li><a href="fruit-growing.html">Fruit Growing</a></li>
                            <li><a href="plant-disease-treatment.html">Plant Disease Treatment</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact-us.html">Contact Us</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->

                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                        <li class="side-menu"><a href="#">
						<i class="fa fa-shopping-bag"></i>
                            <span class="badge">3</span>
							<p>My Cart</p>
					</a></li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
            </div>
             <!-- Start Side Menu -->
             <div class="side">
                <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                <li class="cart-box">
                    <ul class="cart-list">
                        <li>
                            <a href="#" class="photo"><img src="images/seedlings/berry guava.jpg" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Berry guava </a></h6>
                            <p>1x - <span class="price">Ksh #</span></p>
                        </li>
                        <li>
                            <a href="#" class="photo"><img src="images/seedlings/sour sop.jpg" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Sour sop</a></h6>
                            <p>1x - <span class="price">Ksh #</span></p>
                        </li>
                        <li>
                            <a href="#" class="photo"><img src="images/seedlings/custard apple.jpg" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">custard apple</a></h6>
                            <p>1x - <span class="price">Ksh #</span></p>
                        </li>
                        <li class="total">
                            <a href="cart.html" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
                            <span class="float-right"><strong>Total</strong>: Ksh #</span>
                        </li>
                    </ul>
                </li>
            </div>
            <!-- End Side Menu -->
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>ABOUT US</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">ABOUT US</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
				<div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="images/about-img1.jpg" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="noo-sh-title-top">WHO <span>WE ARE</span></h2>
                    <p>Stephen’s Natural Foods strives to use underutilised fruits and vegetables to promote good health. We offer so as to promote good health. We offer training to individuals on how to cook vegetables for maximum nutrition retention to promote good health.</p>
                    <p> We grow indigenous vegetables and underutilised fruits ,package them and sell them to a larger world population through exports. We also offer training on how to grow your own fruits and vegetables..</p>
					<h2 class="noo-sh-title-top">SOMETHING <span>TO NOTE</span></h2>
                    <p>Our passionate technical force behind the evolving Sunberry story. Following completion of certified training in crop and animal production management in Kenya and New Zealand, Steven has worked in Kenya and Rwanda as a worker, supervisor and manager in public extension services and private production.<br>
                        In more recent years, he managed a large strawberry production enterprise in Rwanda before returning to Kenya to provide private advisory services to farmers on fruit growing, notably berries. While his main responsibility in Sunberry Berry is production and logistics,he also notably supports on marketing and networking. </p>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>MISSION</h3>
                        <p>To Give Natural health consultation to the public and offer the public a chance to learn about natural healthy eating. </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>VISION</h3>
                        <p>To be one of the most trusted Healthy eating consultancies, promoting use of Natural foods and vegetables to maintain a healthy lifestyle </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>OBJECTIVES</h3>
                        <p>Grow and Supply Natural underutilized fruits and vegetables to promote good health and promote quality and healthy eating as a way of disease prevention and maintain a healthy lifestyle. </p>
                    </div>
                </div>
            </div> 
            <div class="about-box-main">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="banner-frame"> <img class="img-fluid" src="images/CEO/director.png" alt="" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h2 class="noo-sh-title-top">DIRECTOR'S <span>BRIEF</span></h2>
                                   <p> I know that some of you have been reading my information & posts for years   and others have just discovered me recently.  My writing says something about who I am, but there’s more to me, that you might want to know about - both good and bad.</p>
                                   <p>To begin with, I am a walking mess.  I end up spilling food down the front of almost everything I wear, I’m absent minded - always mislaying things, and I’m likely to walk out of the house with my zipper down.  Because I have so many abilities (and because I am an Aries) I have to fight against my own arrogance.  I value my time greatly and have no patience for those who waste it.  Other than that I am pretty easy going. </p>
                                   <p>To make up for my idiot nature, I am an incessant gatherer of knowledge and wisdom and I have a need to share what I know  Much of that comes from the fact that I feel my life has been blessed.  I wouldn’t even be here today, were it not for the kindness and generosity of my fellow humans.  Modern medicine has made it possible for me to live peacefully and success living than nature and the fates intended.  For this reason, I pay it forward, in the way that I am best equipped - by sharing my knowledge , my experience and my creative art. </p>
                                   <p>I was born in Kathivo Kitui county Eastern province, raised Tigoni and educated in Kiawaroga primary school.  As a kid, I was fascinated by the old farming , especially those that took place in the swamp.  I developed a strong desire to become a farmer (an Agri-bussines Farmer), and so I began a life that has taken me half the way round the world.  I did it despite having almost no money - another form of basic survival).  As well as developing life skills along the way, I used the natural farming,  foraging and folk medicine herbs that were a normal part of my growing up.  However, after spending time with natives in the Taratahi New- Zealand during my study , I developed a fascination with primitive survival and the study of plants.</p>
                                   <p>I lived in several countries and exotic parts over the years, but I finally wound up settling in kenya in 2017.   Although I’ve made many Agriculture journeys to other places, like Ruhengeri Rwanda (my home away from home), Europe, the far East and the Africa.</p>
                                   <p>During my Agri-farming travels, I learned about other cultures and a lot about myself.  Looking back, I did things that no same man would do, and put myself into many dangerous situations, where only luck and my God  helped me survive.  In retrospect, I am dumbfounded that I even made it out of my twenties.  If I seem wise today, it is because I made a lot of stupid mistakes back then. It is real we live to learn through our mistake and challenges.</p>
                                   <p>I didn’t begin to study plants , but I started when I was young at age of 5 years.  I started learning from my mother, neighbors and other old people around me and began to teach myself, at the farm estates life was farming skills from different tribes and so was great practical learning the art of doing things.  Farming different crops and keeping animals was real my heart and was easy to work day to day for my passion.  Although I've learned botanical facts from books, old people and some foraging knowledge from other foragers, most of what I know today has come from my own explorations (and a lot of trial and error).  I have created many of my own methods, recipes, tricks and secrets for working with Natural wild foods, and have tested many a medicinal herbs on myself, to see how it effected me.  Most of what I know comes from direct experience, which is why I occasionally sound like I know what I am talking about.</p>
                                   <p>Despite eating a healthy diet and Natural wild foods, I suffered Ashmatic  in my early age of 4 years (from growing up in a toxic environment).  Fortunately, Natural wild foods medicine made it possible for heal, giving me many more years to develop my passions, through helping many from different cultures, I have been able to share with them.</p>
                                   <p>To keep in practice, even during off seasons, I try to include a foraged ingredient in every dish I prepare, experimenting with different ways of using them.  I’ll occasionally make a meal with nothing but wild ingredients (especially when camping).  If I don’t manage to use them at home, I will often graze myself way around the neighborhood (eating sidewalk salad) when I’m walking and during my field farm work .  My former teacher (one of the greatest blessings in my life) warns me that I’m gonna die of eating those indingious poisoning 🥰. </p>
                                    <p>Stephen Mwanzia <br>
                                       Director</p> 
                                      
                     
                    <hr class="my-0"> </div>
                </div>  
                    <hr class="my-0"> </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Page -->

     <!-- Start Instagram Feed  -->
     <div class="instagram-box">
        <div class="main-instagram owl-carousel owl-theme">
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/fruits/BERRY.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/fruits/GOOSEBERRY.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/fruits/ORANGE.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/fruits/fruit3.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/fruits/POMEGRANATE 1.1.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/fruits/PURPLE SWEET PASSION.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/fruits/fruit6.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/fruits/fruit7.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/fruits/fruit8.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/fruits/STRAWBERRY GUAVA.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="images/fruits/TOMOKO.jpg" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Instagram Feed  -->


    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="footer-top-box">
							<h3>Business Time</h3>
							<ul class="list-time">
								<li>Monday - Friday: 08.00am to 05.00pm</li> <li>Saturday: 10.00am to 04.00pm</li> <li>Sunday: <span>Closed</span></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="footer-top-box">
							<h3>Newsletter</h3>
							<form class="newsletter-box">
								<div class="form-group">
									<input class="" type="email" name="Email" placeholder="Email Address*" />
									<i class="fa fa-envelope"></i>
								</div>
								<button class="btn hvr-hover" type="submit">Submit</button>
							</form>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="footer-top-box">
							<h3>Social Media</h3>
							<p>You can find us on various social media platforms.</p>
							<ul>
                                <li><a href="https://www.facebook.com/people/Stephens-Natural-Foods/100055114726798/?sk=photos"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="https://twitter.com/FoodsStephen?s=20&t=Ow8RkSsABXkd-B5SYl1YIg"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/stephen-s-natural-foods-4a93b424a"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="https://youtube.com/channel/UClqPXs850X93Nci_D_KSuew"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.pinterest.com/stephensnaturalf/"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
                                <li><a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                            </ul>
						</div>
					</div>
				</div>
				<hr>
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>AREAS OF PRACTICE</h4>
                            <p>
                                Farm start up | Farm promotion and Development | Fruit Farming | Underutilized Fruits Management | Farm workers sourcing | Forestry production and management
                                 | Fruit Agro-Forest agriculture</p> 							
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>Information</h4>
                            <ul>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="#">Customer Service</a></li>
                                <li><a href="#">Our Sitemap</a></li>
                                <li><a href="#">Terms &amp; Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Delivery Information</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Contact Us</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>Stephens Natural Foods & Farms<br>Address: Village Market<br>Nairobi-Kenya,<br> P O BOX 3031-00621 </p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Phone1: <a href="tel:+254733793880">+254723350021<br>Phone2: +254733793844</a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Email: <a href="mailto:StephensNaturalFoods@gmail.com">StephensNaturalFoods@gmail.com</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>OUR PARTNERSHIP</h4>
                            <img src="images/partnership/AGRIJOBS1.jpeg" alt="https://agrirelatedjobs.com/" />
                            <img src="images/partnership/KALRO1.jpeg" alt="https://www.kalro.org/" />
                            <img src="images/partnership/DREAMJOB.jpg" alt="https://www.generaldreamjobs.com" />
            </div>
        </div>
    </footer>
    <!-- End Footer  -->

    <!-- Start copyright  -->
    <div class="footer-copyright">
        <p>
            StephensNaturalFood Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</p>
    </div>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/jquery.superslides.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/inewsticker.js"></script>
    <script src="js/bootsnav.js."></script>
    <script src="js/images-loded.min.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/baguetteBox.min.js"></script>
    <script src="js/form-validator.min.js"></script>
    <script src="js/contact-form-script.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>