{% extends 'base.html'%}
{% load static%}
{% block content%}
<body>

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>ABOUT US</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">ABOUT US</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
				<div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="{% static 'images/about-img1.jpg'%}" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="noo-sh-title-top">WHO <span>WE ARE</span></h2>
                    <p>Stephen’s Natural Foods strives to use underutilised fruits and vegetables to promote good health. We offer so as to promote good health. We offer training to individuals on how to cook vegetables for maximum nutrition retention to promote good health.</p>
                    <p> We grow indigenous vegetables and underutilised fruits ,package them and sell them to a larger world population through exports. We also offer training on how to grow your own fruits and vegetables..</p>
					<h2 class="noo-sh-title-top">SOMETHING <span>TO NOTE</span></h2>
                    <p>Our passionate technical force behind the evolving Sunberry story. Following completion of certified training in crop and animal production management in Kenya and New Zealand, Steven has worked in Kenya and Rwanda as a worker, supervisor and manager in public extension services and private production.<br>
                        In more recent years, he managed a large strawberry production enterprise in Rwanda before returning to Kenya to provide private advisory services to farmers on fruit growing, notably berries. While his main responsibility in Sunberry Berry is production and logistics,he also notably supports on marketing and networking. </p>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>MISSION</h3>
                        <p>To Give Natural health consultation to the public and offer the public a chance to learn about natural healthy eating. </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>VISION</h3>
                        <p>To be one of the most trusted Healthy eating consultancies, promoting use of Natural foods and vegetables to maintain a healthy lifestyle </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>OBJECTIVES</h3>
                        <p>Grow and Supply Natural underutilized fruits and vegetables to promote good health and promote quality and healthy eating as a way of disease prevention and maintain a healthy lifestyle. </p>
                    </div>
                </div>
            </div> 
            <div class="about-box-main">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="banner-frame"> <img class="img-fluid" src="{% static 'images/CEO/director.png'%}" alt="" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h2 class="noo-sh-title-top">DIRECTOR'S <span>BRIEF</span></h2>
                                   <p> I know that some of you have been reading my information & posts for years   and others have just discovered me recently.  My writing says something about who I am, but there’s more to me, that you might want to know about - both good and bad.</p>
                                   <p>To begin with, I am a walking mess.  I end up spilling food down the front of almost everything I wear, I’m absent minded - always mislaying things, and I’m likely to walk out of the house with my zipper down.  Because I have so many abilities (and because I am an Aries) I have to fight against my own arrogance.  I value my time greatly and have no patience for those who waste it.  Other than that I am pretty easy going. </p>
                                   <p>To make up for my idiot nature, I am an incessant gatherer of knowledge and wisdom and I have a need to share what I know  Much of that comes from the fact that I feel my life has been blessed.  I wouldn’t even be here today, were it not for the kindness and generosity of my fellow humans.  Modern medicine has made it possible for me to live peacefully and success living than nature and the fates intended.  For this reason, I pay it forward, in the way that I am best equipped - by sharing my knowledge , my experience and my creative art. </p>
                                   <p>I was born in Kathivo Kitui county Eastern province, raised Tigoni and educated in Kiawaroga primary school.  As a kid, I was fascinated by the old farming , especially those that took place in the swamp.  I developed a strong desire to become a farmer (an Agri-bussines Farmer), and so I began a life that has taken me half the way round the world.  I did it despite having almost no money - another form of basic survival).  As well as developing life skills along the way, I used the natural farming,  foraging and folk medicine herbs that were a normal part of my growing up.  However, after spending time with natives in the Taratahi New- Zealand during my study , I developed a fascination with primitive survival and the study of plants.</p>
                                   <p>I lived in several countries and exotic parts over the years, but I finally wound up settling in kenya in 2017.   Although I’ve made many Agriculture journeys to other places, like Ruhengeri Rwanda (my home away from home), Europe, the far East and the Africa.</p>
                                   <p>During my Agri-farming travels, I learned about other cultures and a lot about myself.  Looking back, I did things that no same man would do, and put myself into many dangerous situations, where only luck and my God  helped me survive.  In retrospect, I am dumbfounded that I even made it out of my twenties.  If I seem wise today, it is because I made a lot of stupid mistakes back then. It is real we live to learn through our mistake and challenges.</p>
                                   <p>I didn’t begin to study plants , but I started when I was young at age of 5 years.  I started learning from my mother, neighbors and other old people around me and began to teach myself, at the farm estates life was farming skills from different tribes and so was great practical learning the art of doing things.  Farming different crops and keeping animals was real my heart and was easy to work day to day for my passion.  Although I've learned botanical facts from books, old people and some foraging knowledge from other foragers, most of what I know today has come from my own explorations (and a lot of trial and error).  I have created many of my own methods, recipes, tricks and secrets for working with Natural wild foods, and have tested many a medicinal herbs on myself, to see how it effected me.  Most of what I know comes from direct experience, which is why I occasionally sound like I know what I am talking about.</p>
                                   <p>Despite eating a healthy diet and Natural wild foods, I suffered Ashmatic  in my early age of 4 years (from growing up in a toxic environment).  Fortunately, Natural wild foods medicine made it possible for heal, giving me many more years to develop my passions, through helping many from different cultures, I have been able to share with them.</p>
                                   <p>To keep in practice, even during off seasons, I try to include a foraged ingredient in every dish I prepare, experimenting with different ways of using them.  I’ll occasionally make a meal with nothing but wild ingredients (especially when camping).  If I don’t manage to use them at home, I will often graze myself way around the neighborhood (eating sidewalk salad) when I’m walking and during my field farm work .  My former teacher (one of the greatest blessings in my life) warns me that I’m gonna die of eating those indingious poisoning 🥰. </p>
                                    <p>Stephen Mwanzia <br>
                                       Director</p> 
                                      
                     
                    <hr class="my-0"> </div>
                </div>  
                    <hr class="my-0"> </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Page -->

     


   
</body>

{% endblock%}