<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>StephensNaturalFoods</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


<body>
    <!-- Start Main Top -->
    <div class="main-top">
       <div class="container-fluid">
           <div class="row">
               <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                   <div class="custom-select-box">
                           
                       </select>
                   </div>
                   <div class="our-link">
                       <ul>
                           <li><a href="#"><i class="fa fa-user s_color"></i> My Account</a></li>
                           <li><a href="https://goo.gl/maps/aghYfAPTHq1v1tpb8"><i class="fas fa-location-arrow"></i> Our location</a></li>
                           <li><a href="tel:+254723350021"><i class="fas fa-headset"></i> Contact Us</a></li>
                       </ul>
                   </div>
               </div>
               <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                   <div class="login-box">
                       <select id="basic" class="selectpicker show-tick form-control" data-placeholder="Sign In">
                           <option>Register Here</option>
                           <option>Sign In</option>
                       </select>
                   </div>
                   <div class="text-slid-box">
                       <div id="offer-box" class="carouselTicker">
                           <ul class="offer-box">
                               <li>
                                   <i class="fab fa-opencart"></i> ADVERTISE HERE
                               </li>
                           </ul>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
   <!-- End Main Top -->

   <!-- Start Main Top -->
   <header class="main-header">
       <!-- Start Navigation -->
       <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
           <div class="container">
               <!-- Start Header Navigation -->
               <div class="navbar-header">
                   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                   <i class="fa fa-bars"></i>
               </button>
                   <a class="navbar-brand" href="index.html"><img src="images/LOGO.jpg" class="logo" alt=""></a>
               </div>
               <!-- End Header Navigation -->

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="navbar-menu">
               <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                   <li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
                   <li class="nav-item"><a class="nav-link" href="about.html">About Us</a></li>
                   <li class="dropdown">
                       <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">SHOP</a>
                       <ul class="dropdown-menu">
                           <li><a href="cart.html">Cart</a></li>
                           <li><a href="checkout.html">Checkout</a></li>
                           <li><a href="my-account.html">My Account</a></li>
                           <li><a href="wishlist.html">Wishlist</a></li>
                       </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">CATEGORIES</a>
                        <ul class="dropdown-menu">
                            <li><a href="seedlings.html">Seedlings</a></li>
                            <li><a href="indigenous-seeds.html">Indigenous Seeds</a></li>
                            <li><a href="books.html">Books</a></li>
                            <li><a href="other-products.html">Other Products</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                    <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Outgrowers</a>
                    <ul class="dropdown-menu">
                        <li><a href="outgrowers.html">Outgrowers</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="client's-projects.html">Client's Projects</a></li>
                    </ul>
                </li>
                   <li class="dropdown">
                       <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Articles</a>
                       <ul class="dropdown-menu">
                           <li><a href="natural-treatment.html">Natural Treatment</a></li>
                           <li><a href="edible-weeds.html">Edible Weeds</a></li>
                           <li><a href="fruit-growing.html">Fruit Growing</a></li>
                           <li><a href="plant-disease-treatment.html">Plant Disease Treatment</a></li>
                       </ul>
                   </li>
                   <li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li>
                   <li class="nav-item"><a class="nav-link" href="contact-us.html">Contact Us</a></li>
               </ul>
           </div>
           <!-- /.navbar-collapse -->

               <!-- Start Atribute Navigation -->
               <div class="attr-nav">
                   <ul>
                       <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                       <li class="side-menu"><a href="#">
                       <i class="fa fa-shopping-bag"></i>
                           <span class="badge">3</span>
                           <p>My Cart</p>
                   </a></li>
                   </ul>
               </div>
               <!-- End Atribute Navigation -->
           </div>
            <!-- Start Side Menu -->
            <div class="side">
               <a href="#" class="close-side"><i class="fa fa-times"></i></a>
               <li class="cart-box">
                   <ul class="cart-list">
                       <li>
                           <a href="#" class="photo"><img src="images/seedlings/berry guava.jpg" class="cart-thumb" alt="" /></a>
                           <h6><a href="#">Berry guava </a></h6>
                           <p>1x - <span class="price">$</span></p>
                       </li>
                       <li>
                           <a href="#" class="photo"><img src="images/seedlings/sour sop.jpg" class="cart-thumb" alt="" /></a>
                           <h6><a href="#">Sour sop</a></h6>
                           <p>1x - <span class="price">$</span></p>
                       </li>
                       <li>
                           <a href="#" class="photo"><img src="images/seedlings/custard apple.jpg" class="cart-thumb" alt="" /></a>
                           <h6><a href="#">custard apple</a></h6>
                           <p>1x - <span class="price">$</span></p>
                       </li>
                       <li class="total">
                           <a href="cart.html" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
                           <span class="float-right"><strong>Total</strong>: $</span>
                       </li>
                   </ul>
               </li>
           </div>
           <!-- End Side Menu -->
       </nav>
       <!-- End Navigation -->
   </header>
   <!-- End Main Top -->

   <!-- Start Top Search -->
   <div class="top-search">
       <div class="container">
           <div class="input-group">
               <span class="input-group-addon"><i class="fa fa-search"></i></span>
               <input type="text" class="form-control" placeholder="Search">
               <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
           </div>
       </div>
   </div>
   <!-- End Top Search -->

   <!-- Start All Title Box -->
   <div class="all-title-box">
       <div class="container">
           <div class="row">
               <div class="col-lg-12">
                   <h2>CLIENT'S PROJECTS</h2>
                   <ul class="breadcrumb">
                       <li class="breadcrumb-item"><a href="#">Home</a></li>
                       <li class="breadcrumb-item active">CLIENT'S PROJECTS</li>
                   </ul>
               </div>
           </div>
       </div>
   </div>
   <!-- End All Title Box -->
   
    <!-- Start Our Work -->
    <section class="container py-5">
      

        <div class="row projects gx-lg-5">
            <a href="" class="col-sm-6 col-lg-4 text-decoration-none project marketing social business">
                <div class="service-work overflow-hidden card mb-5 mx-5 m-sm-0">
                    <img class="card-img-top" src="images/projects/clients projects/CUSTARD APLLE .jpg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title light-300 text-dark">LOCATION: KITUI-KENYA</h5>
                        <p class="card-text light-300 text-dark">
                            <p>Crop: CUSTARD APPLE </p>
                            <P>Variety: Balanangar</P>
                            <p>Acrerage: Five Acres</p>
                            <p>Numbers of plant: 2,000</p>
                            <p>Date Planted: March 2020</p> 
                        </p>
                    </div>
                </div>
            </a>
            <a href="" class="col-sm-6 col-lg-4 text-decoration-none project graphic social">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                    <img class="card-img-top" src="images/projects/clients projects/CUSTARD APLLE 2.jpg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title light-300 text-dark">LOCATION: TANA RIVER-KENYA</h5>
                        <p class="card-text light-300 text-dark">
                            <p>Crop: CUSTARD APPLE</p>
                            <P>Variety: Balanangar</P>
                            <p>Acrerage: Three Acres</p>
                            <p>Numbers of plant: 1,260</p>
                            <p>Date Planted: November 2021</p>  
                        </p>
                    </div>
                </div>
            </a>
            <a href="" class="col-sm-6 col-lg-4 text-decoration-none project marketing graphic business">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                    <img class="card-img-top" src="images/projects/clients projects/GUAVA FARM 2.jpg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title light-300 text-dark">LOCATION: JUBA-SOUTH SUDAN</h5>
                        <p class="card-text light-300 text-dark">
                            <p>Crop: Guava</p>
                            <P>Variety: Thai</P>
                            <p>Acrerage: Two Acres</p>
                            <p>Numbers of plant: 900</p>
                            <p>Date Planted: July 2018</p>  
                        </p>
                    </div>
                </div>
            </a>
            <a href="" class="col-sm-6 col-lg-4 text-decoration-none project social business">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                    <img class="card-img-top" src="images/projects/clients projects/GUAVA FARM.jpg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title light-300 text-dark">LOCATION: TANA RIVER-KENYA</h5>
                        <p class="card-text light-300 text-dark">
                            <p>Crop: Guava</p>
                            <P>Variety: Dwarf 1</P>
                            <p>Acrerage: Ten Acres</p>
                            <p>Numbers of plant: 5,000</p>
                            <p>Date Planted: April 2020</p> 
                        </p>
                    </div>
                </div>
            </a>
            <a href="" class="col-sm-6 col-lg-4 text-decoration-none project marketing">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                    <img class="card-img-top" src="images/projects/clients projects/JACKFRUIT FARM.jpg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title light-300 text-dark">LOCATION: KITALE-KENYA</h5>
                        <p class="card-text light-300 text-dark">
                            <p>Crop: Jack Fruit</p>
                            <P>Variety: Black Gold & Golden Nugget</P>
                            <p>Acrerage: Five Acres</p>
                            <p>Numbers of plant: 1,750</p>
                            <p>Date Planted: May 2019</p> 
                        </p>
                    </div>
                </div>
            </a>
            <a href="" class="col-sm-6 col-lg-4 text-decoration-none project marketing graphic">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                    <img class="card-img-top" src="images/projects/clients projects/PAPAYA FARM.jpg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title light-300 text-dark">LOCATION: JUBA-SOUTH SUDAN</h5>
                        <p class="card-text light-300 text-dark">
                            <p>Crop: Papaya</p>
                            <P>Variety: Red Lady Papaya</P>
                            <p>Acrerage: Five Acres</p>
                            <p>Numbers of plant: 3,750</p>
                            <p>Date Planted: October 2021</p> 
                        </p>
                    </div>
                </div>
            </a>
            <a href="" class="col-sm-6 col-lg-4 text-decoration-none project marketing graphic">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                    <img class="card-img-top" src="images/projects/clients projects/DATE FARM2.jpg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title light-300 text-dark">LOCATION: GARISSA-KENYA</h5>
                        <p class="card-text light-300 text-dark">
                            <p>Crop: DATE </p>
                            <P>Variety: Medjool</P>
                            <p>Acrerage: Three Acres</p>
                            <p>Numbers of plant: 1,200</p>
                            <p>Date Planted: September 2018</p> 
                        </p>
                    </div>
                </div>
            </a>
            <a href="" class="col-sm-6 col-lg-4 text-decoration-none project marketing graphic">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                    <img class="card-img-top" src="images/projects/clients projects/PASSION FRUIT.jpg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title light-300 text-dark">LOCATION: MALINDI-KENYA</h5>
                        <p class="card-text light-300 text-dark">
                            <p>Crop: PASSION FRUIT</p>
                            <P>Variety: Sweet Yellow</P>
                            <p>Acrerage: Two Acres</p>
                            <p>Numbers of plant: 1,024</p>
                            <p>Date Planted: April 2021</p> 
                        </p>
                    </div>
                </div>
            </a>
            <a href="" class="col-sm-6 col-lg-4 text-decoration-none project marketing graphic">
                <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                    <img class="card-img-top" src="images/projects/clients projects/POMEGRANATE.jpg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title light-300 text-dark">LOCATION: MOYALE-KENYA</h5>
                        <p class="card-text light-300 text-dark">
                            <p>Crop: POMEGRANATE</p>
                            <P>Variety: Bhangwa</P>
                            <p>Acrerage: Three Acres</p>
                            <p>Numbers of plant: 2,100</p>
                            <p>Date Planted: September 2021</p> 
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </section>

    <!-- End Our Work -->
    <section class="bg-light py-5">
        <div class="feature-work container my-4">
            <div class="row d-flex d-flex align-items-center">
    <div class="col-lg-6">
        <h2 class="noo-sh-title-top">Numbers <span>Of Our outgrowers Across East Africa</span></h2>
               <p> Stephen's Natural Foods have more than 100 ongoing outgrowers programmes for fruits not only in Kenya but accross East Africa.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Start Feature Work -->
    <section class="bg-light py-5">
        <div class="feature-work container my-4">
            <div class="row d-flex d-flex align-items-center">
                <div class="col-lg-5">
                    <h3 class="feature-work-title h4 text-muted light-300">Transform with us</h3>
                    <h1 class="feature-work-heading h2 py-3 semi-bold-600">Teamwork Makes The Dream Work</h1>
                    <p class="feature-work-body text-muted light-300">
                        Team work for better change<br>
                        Silent team work means a work hard and Expect rewarded by the nature 🌱
                    </p>
                    <p class="feature-work-footer text-muted light-300">Investing in Farming depends type of the soil and environment . Sometimes the roots history of the plants required to know how to plant then and when.
                        There is a lot to learn and understand from the your farm before deciding what to planting.</p>
                </div>
                <div class="col-lg-6 offset-lg-1 align-left">
                    <div class="row">
                        <a class="col" data-type="image" data-fslightbox="gallery" href="images/projects/outgrower.jpg">
                            <img class="img-fluid" src="images/projects/outgrower.jpg">
                        </a>
                        <a class="col" data-type="image" data-fslightbox="gallery" href="images/projects/outgrower.jpg">
                            <img class="img-fluid" src="images/projects/outgrower.jpg">
                        </a>
                    </div>
                    <div class="row pt-4">
                        <a class="col" data-type="image" data-fslightbox="gallery" href="images/projects/outgrower.jpg">
                            <img class="img-fluid" src="images/projects/outgrower.jpg">
                        </a>
                        <a class="col" data-type="image" data-fslightbox="gallery" href="images/projects/outgrower.jpg">
                            <img class="img-fluid" src="images/projects/outgrower.jpg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Feature Work -->
    
    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="footer-top-box">
							<h3>Business Hours</h3>
							<ul class="list-time">
								<li>Monday - Friday: 08.00am to 05.00pm</li> <li>Saturday: 10.00am to 04.00pm</li> <li>Sunday: <span>Closed</span></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="footer-top-box">
							<h3>Newsletter</h3>
							<form class="newsletter-box">
								<div class="form-group">
									<input class="" type="email" name="Email" placeholder="Email Address*" />
									<i class="fa fa-envelope"></i>
								</div>
								<button class="btn hvr-hover" type="submit">Submit</button>
							</form>
						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="footer-top-box">
							<h3>Social Media</h3>
							<p>You can find us on various social media platforms.</p>
							<ul>
                                <li><a href="https://www.facebook.com/people/Stephens-Natural-Foods/100055114726798/?sk=photos"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="https://twitter.com/FoodsStephen?s=20&t=Ow8RkSsABXkd-B5SYl1YIg"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/stephen-s-natural-foods-4a93b424a"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="https://youtube.com/channel/UClqPXs850X93Nci_D_KSuew"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.pinterest.com/stephensnaturalf/"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
                                <li><a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                            </ul>
						</div>
					</div>
				</div>
				<hr>
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>AREAS OF PRACTICE</h4>
                            <p>
                                Farm start up | Farm promotion and Development | Fruit Farming | Underutilized Fruits Management | Farm workers sourcing | Forestry production and management
                                 | Fruit Agro-Forest agriculture</p>  					
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>Information</h4>
                            <ul>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="#">Customer Service</a></li>
                                <li><a href="#">Our Sitemap</a></li>
                                <li><a href="#">Terms &amp; Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Delivery Information</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Contact Us</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>Stephens Natural Foods & Farms<br>Address: Village Market<br>Nairobi-Kenya,<br> P O BOX 3031-00621 </p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Phone1: <a href="tel:+254733793880">+254723350021<br>Phone2: +254733793844</a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Email: <a href="mailto:StephensNaturalFoods@gmail.com">StephensNaturalFoods@gmail.com</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>OUR PARTNERSHIP</h4>
                            <img src="images/partnership/AGRIJOBS1.jpeg" alt="https://agrirelatedjobs.com/" />
                            <img src="images/partnership/KALRO1.jpeg" alt="https://www.kalro.org/" />
                            <img src="images/partnership/DREAMJOB.jpg" alt="https://www.generaldreamjobs.com" />
            </div>
        </div>
    </footer>
    <!-- End Footer  -->

    <!-- Start copyright  -->
    <div class="footer-copyright">
        <p>
            Stephen's NaturalFoods Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</p>
    </div>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/jquery.superslides.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/inewsticker.js"></script>
    <script src="js/bootsnav.js."></script>
    <script src="js/images-loded.min.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/baguetteBox.min.js"></script>
    <script src="js/form-validator.min.js"></script>
    <script src="js/contact-form-script.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>