{% extends 'base.html'%}
{% block content%}
{% load static %}

<body>
   

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>EDIBLE WEEDS</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">EDIBLE WEEDS</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
				<div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="{% static 'images/edible weeds/blackjack.jpg'%}" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="{% static 'images/edible weeds/blackjack2.jpg'%}" alt="" />   
                </div>
            </div>
            <div class="row my-5">
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <div class="banner-frame"> <img class="img-fluid" src="{% static 'images/edible weeds/dandelion.jpg'%}" alt="" />
                        </div>
                        <h3>DANDELION</h3>
                        <p>Seeds can be planted any time of year. when it comes to spacing, its best to keep plants 6-9 inches (15-23cm) apart in rows 12 inches (30 cm) apart optional dandelion seed production. <br>
                        If you only want to cultivate young leaves for salads on a regular basic, spreading seeds more densely in short rows every few weeks can be a good option.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <div class="banner-frame"> <img class="img-fluid" src="{% static 'images/edible weeds/mallow malva.jpg'%}" alt="" />
                        <h3>MALLOW</h3>
                        <p>Common mallow is winter or summer annual or biennial, freely branching at the base with a prostrate growth habit. It’s a low growing weed, with a deep fleshy tap root. The seed germinate through summer and broken stems can also root. <br>
                        This plant has stems that originate from a deep tap root and are low spreading with branches that reach from a few centimeters to almost 60 centimeters long.</p>
                    </div>
                </div>
                </div>
            </div> 
            <div class="about-box-main">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="banner-frame"> <img class="img-fluid" src="{% static 'images/edible weeds/chicory.jpg'%}" alt="" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h2 class="noo-sh-title-top">CHICORY<span></span></h2>
                            <h2 class="noo-sh-title-top">SURPRISING BENEFITS <span>OF CHICORY</span></h2>
                                   <p>A simple and effective remedy. Drinking water mixed with chicory and lemon, in addition to being refreshing, can help you maintain your health at little cost. <br>
                                    Note that it is best to prepare it yourself by squeezing lemon juice to chicory , as the chicory water sold in shops has been heated to high temperatures to kill germs, which has diminished the Chicory's virtues. </p>
                                    <h3>BOOSTS THE IMMUNE SYSTEM </h3>
                                    <p>Chicory are one of the richest foods in vitamin C. One gram of chicory provides one third of our daily requirement. <br>
                                     Vitamin C protects against cell ageing, improves the assimilation of plant iron, prevents deficiencies and related diseases such as scurvy, and helps to fight against the onset of cardiovascular diseases, certain cancers, cataracts and neurodegenerative diseases</p>
                                    <h3>STIMULATES DIGESTION </h3>
                                    <p> Chicory acid stimulates the secretion of bile in the liver, allowing better digestion. And the fibre contained in the chicory also improves intestinal transit. </p>
                                    <h3>HELPS TO LOSE WEIGHT</h3>
                                    <p> Drinking a glass of warm chicory water every morning can help when trying to lose weight. The thermogenic properties of this drink accelerate the burning of fat.</p>
                                    <h3>ANTISEPTIC</h3>
                                    <p>The antiseptic properties of Chicory help to fight infections. A good toddy, i.e. chicory water mixed with a little honey, is an effective natural remedy for the flu. </p>
                                    <h3>ELIMINATES KIDNEY STONES</h3>
                                    <p>Good hydration is essential to prevent kidney stones. And chicory water, thanks to the citric acid it contains, makes the pH of the urine more alkaline and thus reduces the formation of stones. </p>
                                    <h3>HELPS TO KEEP BREATH FRESH</h3>
                                    <p>A natural mouthwash with chicory water helps to eliminate the bacteria that cause bad breath. </p>
                     
                    <hr class="my-0"> </div>
                </div>  
                    <hr class="my-0"> </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Page -->

   
</body>
{% endblock%}

