{% load static %}
<!-- Start Footer  -->
<footer>
    <div class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-top-box">
                        <h3>Business Hours</h3>
                        <ul class="list-time">
                            <li>Monday - Friday: 08.00am to 05.00pm</li> <li>Saturday: 10.00am to 04.00pm</li> <li>Sunday: <span>Closed</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-top-box">
                        <h3>Newsletter</h3>
                        <form class="newsletter-box">
                            <div class="form-group">
                                <input class="" type="email" name="Email" placeholder="Email Address*" />
                                <i class="fa fa-envelope"></i>
                            </div>
                            <button class="btn hvr-hover" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-top-box">
                        <h3>Social Media</h3>
                        <p>You can find us on various social media platforms.</p>
                        <ul>
                            <li><a href="https://www.facebook.com/people/Stephens-Natural-Foods/100055114726798/?sk=photos"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com/FoodsStephen?s=20&t=Ow8RkSsABXkd-B5SYl1YIg"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/stephen-s-natural-foods-4a93b424a"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="https://youtube.com/channel/UClqPXs850X93Nci_D_KSuew"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.pinterest.com/stephensnaturalf/"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
                            <li><a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-widget">
                        <h4>AREAS OF PRACTICE</h4>
                        <p>
                            Farm start up | Farm promotion and Development | Fruit Farming | Underutilized Fruits Management | Farm workers sourcing | Forestry production and management
                             | Fruit Agro-Forest agriculture</p>  					
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-link">
                        <h4>Information</h4>
                        <ul>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="#">Customer Service</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Delivery Information</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-link-contact">
                        <h4>Contact Us</h4>
                        <ul>
                            <li>
                                <p><i class="fas fa-map-marker-alt"></i>Stephens Natural Foods & Farms<br>Address: Village Market<br>Nairobi-Kenya,<br> P O BOX 3031-00621 </p>
                            </li>
                            <li>
                                <p><i class="fas fa-phone-square"></i>Phone1: <a href="tel:+254733793880">+254723350021<br>Phone2: +254733793844</a></p>
                            </li>
                            <li>
                                <p><i class="fas fa-envelope"></i>Email: <a href="mailto:StephensNaturalFoods@gmail.com">StephensNaturalFoods@gmail.com</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-widget">
                        <h4>OUR PARTNERSHIP</h4>
                        <img src="{% static 'images/partnership/AGRIJOBS1.jpeg'%}" alt="https://agrirelatedjobs.com/" />
                        <img src="{% static 'images/partnership/KALRO1.jpeg'%}" alt="https://www.kalro.org/" />
                        <img src="{% static 'images/partnership/DREAMJOB.jpg'%}" alt="https://www.generaldreamjobs.com" />
        </div>
    </div>
</footer>
<!-- End Footer  -->

<!-- Start copyright  -->
<div class="footer-copyright">
    <p>
        Stephen's NaturalFoods Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</p>
</div>
<!-- End copyright  -->

<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>
