{% extends 'base.html'%}
{% block content%}
{% load static %}

<body>
     

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>FRUIT GROWING</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active">FRUIT GROWING</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start About Page  -->
            <div class="about-box-main">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="banner-frame"> <img class="img-fluid" src="{% static 'images/fruit growing/fruit6.jpg'%}" alt="" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h2 class="noo-sh-title-top">Quava <span>farming</span></h2>
                                   <p> We are still pushing UNDERUTILIZED FRUITS & VEGETABLES IN KENYA production and supporting the market chain. </p>
                                   <p>As we promote underutilized production and commercialization, we keep Data for future reference.</p>
                                   <p>Quava farming is good on return.</p>
                                    </div>
                                </div>
                        <div class="col-lg-6">
                            <h2 class="noo-sh-title-top">FACTOR <span>IN</span></h2>
                            <h3>CUSTARD APPLE</h3>
                            <p>Grow more with Custard Apple <br>
                             Custard Apple can bring prosperity to farmers in low risk and low investment.</P>
                            <h3>FIG FRUIT</h3>
                            <P>Fig fruit is one of the underutilized fruits in Kenya getting high market and <br>
                              demand because of it Heath benefits and fibres. The same time it is good for income and very high return</P>
                            <h2 class="noo-sh-title-top">N/B <span></span></h2>
                            <P>Our farm supports are available to all fruit farmers or investors who want to enter with quality fruits and production to the market we have.<br>
                                We provide you with quality practical fruit study in order to choose the most popular categories in the markets according to the weather and quality of soil and region.<br>
                                We provide the finest types of fruit seedlings of all commercialized varieties in our local and export market. And follow it till it pays off. And your help with the price of seedlings.</P>
                            </div>
                    <hr class="my-0"> </div>
                </div>  
                    <hr class="my-0"> </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Page -->

    
</body>

{% endblock%}