{% extends 'base.html'%}
{% block content%}
{% load static %}

<body>
  

    <!-- Start Slider -->
    <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">
            <li class="text-center">
                <img src="{% static 'images/CUSTARD-APPLE.jpg'%}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> StephensNaturalFoods</strong></h1>
                            <p class="m-b-40">Here for Production and Commercialization of  <br> Africa Underutilized Fruits and Vegetables.</p>
                            <p><a class="btn hvr-hover" href="seedlings.html">Shop Now At The Categories Section</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{% static 'images/DANDELION LABEL2.png'%}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> StephensNaturalFoods</strong></h1>
                            <p class="m-b-40">Here for Production and Commercialization of  <br> Africa Underutilized Fruits and Vegetables.</p>
                            <p><a class="btn hvr-hover" href="indigenous-seeds.html">Shop Now At The Categories Section</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{% static 'images/tractor.jpeg'%}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> StephensNaturalFoods</strong></h1>
                            <p class="m-b-40">Here for Production and Commercialization of  <br> Africa Underutilized Fruits and Vegetables.</p>
                            <p><a class="btn hvr-hover" href="other-products.html">Shop Now At The Categories Section</a></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="slides-navigation">
            <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
    </div>
    <!-- End Slider -->

    <!-- Start Categories  -->
    <div class="categories-shop">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'images/8.jpeg'%}" alt="" />
                        <a class="btn hvr-hover" href="#">Natural Vegetables</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'images/flour.jpg'%}" alt="" />
                        <a class="btn hvr-hover" href="#">Natural Flour</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'images/foods.jpg'%}" alt="" />
                        <a class="btn hvr-hover" href="#">Natural Vegetables</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Categories -->
	
	<div class="box-add-products">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="offer-box-products">
						<img class="img-fluid" src="{% static 'images/GUAVA.png'%}" alt="" />
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="offer-box-products">
						<img class="img-fluid" src="{% static 'images/JACK FRUIT.png'%}" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>

    <!-- Start Products  -->
    <div class="products-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>We Offer consultation on Natural healthwise and Agri-business</h1>
                        <a class="btn hvr-hover" href="outgrowers.html">Read More</a>
                        <div class="title-all text-center">
                            <h1>Our Underutilized Farm and Nursery is Located at Mutha Mutomo Kitui South</h1>
                        </div>
                        <div class="title-all text-center">
                            <h1>We are also in partnership with Kenya Agriculture Livestocks & Research Organizations(KALRO)<br>
                                 to plant and commercialize 100 acres of underutilised fruits and vegetables at KALRO Muguga.</h1>
                        </div>
                    </div>
                </div>
            </div>
    <div class="products-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Underutilized Fruits, Vegetables and Seedlings</h1>
                        <p>Fresh underutilized Fruits,Vegetables and Seedlings from our Farm</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="special-menu text-center">
                        <div class="button-group filter-button-group">
                            <button class="active" data-filter="*">Categories</button>
                            <button data-filter=".top-featured"><a class="nav-link" href="seedlings.html">Seedlings</a></button>
                            <button data-filter=".top-featured"><a class="nav-link" href="indigenous-seeds">Indigenous Seeds</a></button>
                            <button data-filter=".top-featured"><a class="nav-link" href="other-products.html">Other Products</a></button>
                            <button data-filter=".top-featured"><a class="nav-link" href="books.html">Books</a></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row special-list">
                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                            </div>
                            <img src="{% static 'images/seedlings/berry guava.jpg'%}" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul>
                                <a class="cart" href="#">Add to Cart</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4>Berry guava</h4>
                            <h3>Variety:Yellow G4</h3>
                            <h5> $5.00</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 special-grid top-featured">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                            </div>
                            <img src="{% static 'images/seedlings/sour sop.jpg'%}" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul>
                                <a class="cart" href="#">Add to Cart</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4>sour sop</h4>
                            <h3>Variety:Cuban Fibreless</h3>
                            <h5> $11.00</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 special-grid top-featured">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                            </div>
                            <img src="{% static 'images/seedlings/custard apple.jpg'%}" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul>
                                <a class="cart" href="#">Add to Cart</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4>custard apple</h4>
                            <h3>Variety:Balanagar Pink</h3>
                            <h5> $6.00</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                            </div>
                            <img src="{% static 'images/seedlings/persimmon.jpg'%}" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul>
                                <a class="cart" href="#">Add to Cart</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4>Persimmon</h4>
                            <h3>Variety:Chocolate Persimmon</h3>
                            <h5> $10.00</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Products  -->

    <!-- Start Blog  -->
    <div class="latest-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>latest blog</h1>
                        <p>Various Jack Fruit Variety.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="{% static 'images/blackgold.jpg'%}" alt="" />
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3>Jack Fruit-Black Gold</h3>
                                <p>The Black Gold Jackfruit is a vigorous Jackfruit originating from Qld. The Black gold has a dense, manageable canopy that can be pruned to keep it compact (2m x 2m) so perfect for those not wanting a tree to take up too much space.
                                    The Fruit of the black gold average about 6kg and have deep orange colour.</p>
                            </div>
                            <ul class="option-blog">
                                <li><a href="#"><i class="far fa-heart"></i></a></li>
                                <li><a href="#"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#"><i class="far fa-comments"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="{% static 'images/goldennugget.jpg'%}" alt="" />
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3>Jack Fruit-Golden Nugget</h3>
                                <p>The Golden Nugget is a fast growing tree in Jackfruit family, albeit it is considered a dwarfing variety and can be kept in a container for a very long time. The tree has a distinctive dark green, rounded leaf. It forms a dense, spreading canopy, which is easily maintained at a height and spread of 2 to 2.5m.</p>
                            </div>
                            <ul class="option-blog">
                                <li><a href="#"><i class="far fa-heart"></i></a></li>
                                <li><a href="#"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#"><i class="far fa-comments"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="{% static 'images/honeygold.jpg'%}" alt="" />
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3>Jack Fruit-Honey Gold</h3>
                                <p>Honey gold is a good variety and I can compare it to other older common types.The taste is very nice,the smell is quite sweet and strong,there is loads of pale yellow flesh but it is not that soft.It is more medium softeness.Gold nugget is more orange and sloppier but also has a good flavor.</p>
                            </div>
                            <ul class="option-blog">
                                <li><a href="#"><i class="far fa-heart"></i></a></li>
                                <li><a href="#"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#"><i class="far fa-comments"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
    <!-- End Blog  -->

 

    

</body>
{% endblock%}
