{% extends 'base.html'%}
{% block content%}
{% load static %}

<body>
     

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>NATURAL TREATMENT</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">NATURAL TREATMENT</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
				<div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="{% static 'images/natural treatment/chicory1.jpg'%}" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="noo-sh-title-top">CHICORY <span></span></h2>
                    <p>Premature ejaculation is one of the major problems in couples or households. An unsatisfied woman is the relationship that breaks down. My brothers, here are some 3 natural recipes for you to put an end to this problem:</p>
                    <h3> 1. First recipe: </h3>
                    <p>Papaya leaves are reported to be the cure for premature ejaculation.<br>
                        Preparation: Boil the Chicory leaves, add fresh lemon juice and drink.<br>
                        After that you will find your shape.</p>
                    <h3>2. Second recipe: </h3>
                    <p>You should also try it:<br>
                        1-) 3 tablespoons of powdered dandelion root<br>
                        2-) 3 spoons of honey<br>
                        3-) 4 lemons to mix and leave them for 15 minutes and wait 1 hour before the sexual act, you become a real man </p>
                    <h3>3. Third recipe: </h3>
                    <p>Look for moringa roots<br>
                        Look for ginger<br>
                        Look for Chicory or wild lettuce roots.<br>
                        Then add all this to a 1 liter bottle of water and let steep for three days. Start drinking a glass of tea of this mixture from the fourth day for 2 weeks.<br>
                        Try and come testify !! </p>
                </div>
            </div>
                </div>
            </div> 
            <div class="about-box-main">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="banner-frame"> <img class="img-fluid" src="{% static 'images/natural treatment/healthy3.jpg'%}" alt="" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h2 class="noo-sh-title-top">Natural treatments <span></span></h2>
                            <h3>1- Anemia</h3>
                             <h1>Cures of raw onions.</h1>  
                             <p>The onion has a soothing and fortifying action on the nerves.  Helps the organs that produce red blood cells to produce healthy cells and to avoid alterations in the leukocyte balance.</p>  
                            <h3>2 - Asthma</h3>  
                            <h1>Construction and how to use:</h1>
                            <p> Boil in water for 10 minutes 2 to 3 tablespoons of chopped onion.</p>
                            <h1>Dosage:</h1>
                            <p> Take a cup in the morning on an empty stomach and another in the evening (sugar or honey).</p>
                            <h3>3- Gastro duodenal ulcer</h3>
                            <h1>Ingredients :</h1>
                            <p>Cabbage, Honey, Green Clay</p>
                            <h1>Achievement :</h1>
                            <p>Boil for 20 minutes in 1 liter of water, 1/2 chopped cabbage.  Filter and add 2 tablespoons of pure honey.</p>
                            <h1>Manual :</h1>
                            <p>Drink the small cups 2 to 3 times during the day away from meals.
                                Take 1/2 spoonful of green clay in a glass of water before the meal.</p>
                     
                    <hr class="my-0"> </div>
                </div>  
                    <hr class="my-0"> </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Page -->

   
</body>

{% endblock%}