{% extends 'base.html'%}
{% block content%}
{% load static %}

<body>
    

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>OUTGROWERS</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">OUTGROWERS</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
				<div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="{% static 'images/outgrowers/overgrow.jpg'%}" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="noo-sh-title-top">GROW <span>WITH US</span></h2>
                    <p>Since its establishment STEPHEN’S NATURAL FOODS (SNFs) has championed underutilized fruits and vegetables farming in Kenya working closely with KENYA AGRICULTURE AND LIVESTOCK RESEARCH ORGANIZATION (KALRO).</p>
                    <p> The company is a place for equal opportunities to any willing out grower. SNFs has access to both local and export market, UAE being the largest expo market. SNFs however cannot meet the market demand with its supply potential. SNFs is willing to partner with ambitious farmers as out growers for us to meet the market supply demand as a team...</p>
					<p>Depending on the growth period that is between the planting and the harvesting period which varies in every variety, SNFs will send or be sending a specialist to the out growers farm for inspection purposes. <br>
                       The out grower is to cater for transport and wellbeing of the inspecting team at the farm. If a plant gets damaged or does not grow due to any natural reason, a new plant will be brought to replace the damaged one.</p>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <p>An out grower can opt to purchase either seeds or seedlings
                            An out grower may opt to have SNFs germinate the golden berry seedlings at our nursery @3 ksh per seedling after purchasing the seeds from SNFs. 
                            Purchasing seeds and thereafter germinating is the cheaper way since the seeds are 1st generation compared to an already germinated seedling. 
                            However ,this comes with obstacles like time factor because it takes up to 3 months to have a ready for transplant seedling from the nursery.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <p>Another aspect an out grower might consider is the risk of germinating the seeds and ending up with non-germinating or dried up seedlings at the nursery, SNFs germinating for you minimizes the risk and the loss. For the seedlings an out grower will also purchase as per the tables’ price. <br>
                             An out grower may get into an agreement with SNFs and pay 90% of the total amount when purchasing the seedlings, the remaining 10% will be deducted in installments from the payments the out grower will be receiving after making sales.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h2 class="noo-sh-title-top">Feel free to Contact us on more about the <span>Outgrowers Seedling Price list.</span></h2>
                    </div>
                </div>
            </div> 
            <div class="about-box-main">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="banner-frame"> <img class="img-fluid" src="{% static 'images/outgrowers/pg2.png'%}" alt="" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                                   <p> All the underutilized fruits & vegetables SNFs is dealing with are 1st generation and rare varieties. SNFs expects the out grower once we have a working relation to keep off media interviews or sharing information to individuals or specialists visiting the farm to collect data.<br>
                                       The information and varieties should be discreet as this would bring about commotion in the market. Failure to observe this guideline may be subjected to contract termination.<br>
                                       SNFs will buy products from the farmer at the time of harvest and sell to the local markets or export to our newly found market UAE. The out grower shall not sell products to another entity apart from SNFs.<br>
                                      In case of a disease or an infection on the plants, the out grower will contact SNFs and follow the directives given. SNFs advocates and is recognized for championing organic farming therefore using non-prescribed products on the farm alters the product’s quality and also is against our guidelines.<br>
                                      The prices of the products upon harvesting will vary by the quality of harvest since we do grading. SNFs will have an open platform which will inform farmers the most current prices in the local and export market which will thereafter communicate the price which a farmer will sell their products to SNFs.<br>
                                      The prices will be influenced by factors like value addition processes and export fees. Farmers will have their payments processed 2 weeks (14 days) after sales day.</p>

                                      <p>Before an out grower makes a purchase of either the seeds or seedlings, SNFs will first inspect the farm and collect data which will be worked on at the laboratory to know the most suitable variety for the out-grower’s farm or supply supplements for the farm. The minimum amount of land or farm required is 1 acre. <br>
                                        SNFs identifies a variety that is suitable for each specific out grower and payments have been made, seedlings will be delivered prior or on the day of transplanting. SNFs will be on site to in-spect the whole process and offer guidelines for professionalism.</p>
                    <hr class="my-0"> </div>
                </div>  
                    <hr class="my-0"> </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Page -->

</body>

{% endblock%}