{% extends 'base.html'%}
{% block content%}
{% load static %}

<body>
    

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>PLANT DISEASE TREATMENT</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active">PLANT DISEASE TREATMENT</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
				<div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="{% static 'images/plant disease treatment/tree stem paint3.jpg'%}" alt="" />    
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="noo-sh-title-top">THE TREE <span>STEM PAINT</span></h2>
                    <p>Many of fruit farmers had been asking a lot of questions on how to boost quality fruit productions and control of pesticides. Today let us teach you the secret behind your questions. Painting the stem of the tree with lime and cooper sulphate.<br>
                        An important agricultural process to achieve the following goals;The white lime colour reflects sunshine and therefore keeping the stem moist and vitality.</p>
                    <p> Copper sulphate material make a fungal, closing the cracks that causes menstruation and degradation and therefore protecting the stem from the attack of pests. Giving a beautiful view of trees and farm.</p>
                    <h3>PAINT TIME</h3>
                    <p>Most fruits trees need to be painted with this formula after 3years of cultivation and the right time for the painting process is after the end of rainy seasons and until summer.</p>
                    <h3>INGREDIENTS OF THE MIXTURE</h3>
                    <p>The mixture consists of lime, copper sulphate and water in the following ratio;<br>
                        5kgs of lime <br>
                        1kg of copper sulphate <br>
                        1/2 kg of magnesium sulphate <br>
                        20 litres of water </p>
                        <h3>PREPARING A SOLUTION MIX</h3>
                        <p>To prepare 20litres of lime solution and copper sulphate we do the following;<br>
                            - Melt 5kgs of lime in 10litres of water and mix well. <br>
                            - Melt 1kg of copper sulphate in 4litres of water and mix well.</p>
                            <p>Mix the previous quantities together in to big bucket and add water until the total amount of water will reach 20litres and mix well.</p>
                            <h3>PAINTING THE TREE</h3>
                            <p>Before we do the painting process, you must try painting on one tree and wait 20minutes to judge the density of the solution, then after 20minutes if the paint is smooth and the colour is light, <br>
                            the amount on lime should be added to the solution and if the paint is heavy the amount of water should be added. The main tree stem lengthens from the soil touch area to the branch area and use a brush suitable for trees depending on size of the tree.</p>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <div class="banner-frame"> <img class="img-fluid" src="{% static 'images/plant disease treatment/copper sulphate.jpg'%}" alt="" />
                        
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <div class="banner-frame"> <img class="img-fluid" src="{% static 'images/plant disease treatment/tree stem paint.jpg'%}" alt="" />
                    </div>
                </div>
                </div>
            </div> 
            <div class="about-box-main">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="banner-frame"> <img class="img-fluid" src="{% static 'images/plant disease treatment/tree stem paint3.jpg'%}" alt="" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h2 class="noo-sh-title-top">IMPORTANT <span>NOTES</span></h2>
                                   <p>When painting the stem of trees and vines bushes, the beard must be peeled before painting.</p>
                                    <p>Continuing to move solutions to maintain it trade.</p>
                                    <p>Injured surfaces on the crucks are well painted </p>
                                    <p>Preparing the amount of paint that can be used that day only.</p>
                                    <p>Preparing of 20litres of the solution is enough to paint 45 medium diameter trees.</p>
                    <hr class="my-0"> </div>
                </div>  
                    <hr class="my-0"> </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Page -->

   
</body>

{% endblock%}