{% extends 'base.html'%}
{% block content%}
{% load static %}

<body>
    

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>OUTGROWERS SERVICES</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active">OUTGROWERS SERVICES</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
				<div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="{% static 'images/projects/FIG FRUIT.jpeg'%}" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="noo-sh-title-top">SERVICE FOR OUTGROWERS  <span></span></h2>
                    <p>Stephen's Natural foods provide consultation and other facilities along the underutilized Fruit plants!!.<br>
                        Facilities are as follows</p>
                    <h3> 1. Plants delivery will be given to your home or farm by Stephen's Natural Foods company </h3>
                    
                    <h3> 2. Pits to be checked before planting plants </h3>
                    
                    <h3> 3. Plants will be planted under the supervision of the Stephen's Natural Foods company's technical employee through farmer's labor or farmer .</h3>
                    
                    <h3> 4. If a plant get damaged or does not grow due to any unnatural reason, a new plants will be brought in  replace  of it which will not have any issues. </h3>

                    <h3> 5. Technical staff from  Stephen's Natural Foods company will come to your farm twice a month and check each plant and give important suggestions and and advice until your first crop comes in your hands , even after that time consultation will continue!! </h3>

                    <h3> 6. Organic medicines which are useful in plants and farms will be prepared on the farmer's farm  only to save the expenses of the farmer's input. </h3>

                    <h3> 7. Along with plants and farms, other crops planted in your farm will also be consulted and suggested </h3>

                    <h3> 8. Stephen's Natural Foods company will Link farmer with a buyers of underutilized fruits.  </h3>

                    <h3> 9. Best Underutilized Fruits has potential market and return; Dwarf guava, Fig fruits, Custard apple, Giant pomegranate, soursop, persimmon fuyu, malar chestnut and kefir lime. For macam pears varieties will be only grown  Highlands. </h3>

                </div>
            </div>
                </div>
            </div> 
        </div>
    </div>
    <!-- End About Page -->


</body>

{% endblock%}